.chat
  .header
    .left-header
      .left-header__title
        sampleグループ
      .left-header__members
        .member
          MEMBER:
          %i user01

    .right-header
      = link_to '/groups/1/edit', class: 'right-header__button' do
        edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
